
.bg {
    background: rgb(202,184,255);
    background: linear-gradient(90deg, rgba(202,184,255,1) 0%, rgba(150,206,180,1) 5%, rgba(150,206,180,1) 95%, rgba(202,184,255,1) 100%);}

.text-color {
    color: #FFEEAD;
}

.block-color {
    background-color: #FFAD60;
}

.header-color {
    background: rgb(202,184,255);
    background: linear-gradient(90deg, rgba(202,184,255,1) 0%, rgba(255,173,96,1) 5%, rgba(255,173,96,1) 95%, rgba(202,184,255,1) 100%);
}

footer {
    background: rgb(202,184,255);
    background: linear-gradient(90deg, rgba(202,184,255,1) 0%, rgba(132,182,159,1) 5%, rgba(132,182,159,1) 95%, rgba(202,184,255,1) 100%);
    
}

.btn-color {
    color: #FFEEAD !important;
    background-color: #FFAD60 !important;
    border-color: #FFEEAD !important;
    
}

body {
    background-color: #CAB8FF !important;
}